@model WebBanSach.Models.ThamGia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>ThamGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia.TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia.TenTacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaiTro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaiTro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-default" /> |
        @Html.ActionLink("Quay lại", "Index")
    </div>
    }
</div>
