
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/indexcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using (Html.BeginForm())
    {       

        <div id="page" class="wrap-main" style="padding-top: 0px;">
            <div class="main-container">
                <div class="wrap-site account account__page bg-acc">
                    <div class="main-content">
                        <div class="container">
                            <div class="box-login">
                                <div class="account__wrap">
                                    <div class="account__logo text-center">
                                        @*<img src="https://ebook.vn//images/logo.png" alt="Logo">*@
                                    </div>
                                    <div class="account__form">
                                        <h1 class="color-dark font-size-24 font-weight-medium text-uppercase text-center">ĐĂNG NHẬP</h1>

                                        <form action="/sign-in" method="post">
                                            <div class="form-group">
                                                <input type="text" name="txtUserName" value="" placeholder="Tên tài khoản" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="txtPassword" value="" placeholder="Mật khẩu" class="form-control font-italic">
                                            </div>
                                            <div class="form-group">
                                                <p class="text-danger">@ViewBag.Alert</p>
                                            </div>
                                            <div class="form-action display-flex-center content-space-between table-xs text-center">
                                                <!--                    <div class="account__remember full-xs">-->
                                                <!--                        <div class="checkbox-custom display-flex-center">-->
                                                <!--                            <input type="checkbox" name="remember_login">-->
                                                <!--                            <label class="font-weight-normal secondary_color_text display-flex-center">Ghi nhớ mật khẩu</label>-->
                                                <!--                        </div>-->
                                                <!--                    </div>-->
                                                <button type="submit" class="btn btn-secondary btn-100 font_secondary font-size-18 text-uppercase btn-medium">
                                                    Đăng nhập <img src="https://ebook.vn//images/icon-right.png" alt="Signin">
                                                </button>
                                            </div>
                                        </form>
                                        <div class="account__facebook text-center">
                                            <p class="font-italic margin-0"></p>
                                            
                                        </div>
                                        <div class="account__action-other text-center">
                                            <!--                <a href="#" class="font-italic forgot-pass">Quên mật khẩu</a>-->
                                            <a href="@Url.Action("Register")" class="font_secondary btn btn-default not-boxshadow btn-small create-acc">Tạo tài khoản mới</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- box wrap site -->
            </div>
        </div>
    }
</body>
</html>

